{{> head }}

     {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Probando Imagen HBS bigotes</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/alexis.png" class="img-thumbnail">
        </div>


    </div>
        
    {{> footer}}